<!-- ===== Third Tab ===== -->
<div class="tab-pane" id="portfolio">
  <div class="row">
    <div class ="container">
      <h4>General</h4>
      <p class="sm">
        <grey>YMEN Start Date</grey> | <%= @student.ymen_start_date %>.<br/>
      </p>
  <h4>Mentors</h4>
  <p class="sm">
    <grey>Number of Current Mentors</grey> | <%= @student.num_current_mentors %><br/>
    <grey>Names of Current Mentors</grey> | <%= @student.names_of_current_mentors %><br/>
  </p>
    </div>
  </div><!-- row -->
</div><!-- /Tab Portfolio -->